.row(ng-controller="itemDashController as itemDash")
	.settings-wrapper.visible
		.settings
			.settings-inner
				a.settings-content.mr-xl.pull-right.em.fa.fa-print.fa-2x(href="", ng-click="gerarRelatorioExecutivo()")
	.col-lg-1
	.col-lg-10
		.panel.panel-default
			.panel-body
				.col-md-2
					a.mr.label(ng-click="retornarListaItens()", ng-class="'label-'+itemDash.item.oeShortName") {{itemDash.item.oe}}
					a.mr.label.label-meta(ng-click="itemSelecionadoDash(itemDash.item.codMi, 'META')", ng-if="itemDash.item.estruturaProduto == 'meta' && itemDash.item.nivel != 'meta'") {{itemDash.item.siglaMi}}
					a.mr.label.label-iniciativa(ng-click="itemSelecionadoDash(itemDash.item.codMi, 'INICIATIVA')", ng-if="itemDash.item.estruturaProduto == 'iniciativa' && itemDash.item.nivel != 'iniciativa'") {{itemDash.item.siglaMi}}
					a.mr.label.label-produto_intermediario(ng-click="itemSelecionadoDash(itemDash.item.codPi, 'PRODUTO_INTERMEDIARIO')", ng-if="itemDash.item.estruturaSuperior == 'produto_intermediario'") PI {{itemDash.item.siglaPi}}
				.col-md-4 
					strong Responsável:
					|&nbsp;{{itemDash.item.responsavel}} - {{itemDash.item.orgaoResp}}
				.col-md-3
					strong Situação:
					|&nbsp; {{itemDash.item.situacao}}
				.col-md-2
					strong Ciclo:
					small {{itemDash.item.mes}}/{{itemDash.item.ano}}
				.col-md-1.pull-right(ng-class="'img-status-'+itemDash.item.nomeCor+'-dash'")
		accordion(close-others='false')
			accordion-group(is-open='true')
				accordion-heading 
					span(ng-class="'text-'+itemDash.item.nivel", ng-if="itemDash.item.nivel == 'meta'") Meta
					span(ng-class="'text-'+itemDash.item.nivel", ng-if="itemDash.item.nivel == 'iniciativa'") Iniciativa
					span(ng-class="'text-'+itemDash.item.nivel", ng-if="itemDash.item.nivel == 'produto_intermediario'") Produto Intermediário
					span(ng-class="'text-'+itemDash.item.nivel", ng-if="itemDash.item.nivel == 'atividade'") Atividade
					span(ng-if="itemDash.item.nivel == 'meta' || itemDash.item.nivel == 'iniciativa'") {{itemDash.item.siglaMi}} - {{itemDash.item.desc}}
					span(ng-if="itemDash.item.nivel == 'produto_intermediario'") {{itemDash.item.siglaPi}} - {{itemDash.item.desc}}
					span(ng-if="itemDash.item.nivel == 'atividade'") {{itemDash.item.siglaAtv}} - {{itemDash.item.desc}}
				.smoothy
					scrollable.pt(height=350, ng-bind-html="itemDash.parecer")
				strong Anexos:
				scrollable.pt(height=50)
					a.mr(ng-repeat="anexo in anexos", href="", ng-click="downloadAnexo(anexo)") {{anexo.nomeOriginal}}
			accordion-group(is-open='false')
				accordion-heading Indicadores
				p
					pems-indicadores(indicadores="itemDash.item.indicadores")
			accordion-group(is-open='false', ng-if="itemDash.item.nivel != 'atividade'")
				accordion-heading(ng-if="itemDash.item.nivel == 'meta' || itemDash.item.nivel == 'iniciativa'") Produtos intermediários
				accordion-heading(ng-if="itemDash.item.nivel == 'produto_intermediario'") Atividades
				p(ng-if="itemDash.item.nivel == 'meta' || itemDash.item.nivel == 'iniciativa'")
					scrollable.pt(height=350)
						pems-lista-itens(nivel='PRODUTO_INTERMEDIARIO')
				p(ng-if="itemDash.item.nivel == 'produto_intermediario'")
					scrollable.pt(height=350)
						pems-lista-itens(nivel='ATIVIDADE')
