.row(ng-controller="itemDashController as itemDash")
	.settings-wrapper.visible
		.settings
			.settings-inner
				a.settings-content.mr-xl.pull-right.em.fa.fa-print.fa-2x(popover-placement='left' popover-title="Escolha um dos modelos disponíveis" popover-template="'app/views/cached/popover-item-dash-print.html'")
	.col-lg-1
	.col-lg-10
		.panel.panel-default
			.panel-body
				.row
					.col-md-2
						a.mr.label(ng-click="retornarListaItens()", ng-class="'label-'+itemDash.item.oeShortName") {{itemDash.item.oe}}
						a.mr.label.label-meta(ng-click="itemSelecionadoDash(itemDash.item.codMi, 'META')", ng-if="itemDash.item.estruturaProduto == 'meta' && itemDash.item.nivel != 'meta'") {{itemDash.item.siglaMi}}
						a.mr.label.label-iniciativa(ng-click="itemSelecionadoDash(itemDash.item.codMi, 'INICIATIVA')", ng-if="itemDash.item.estruturaProduto == 'iniciativa' && itemDash.item.nivel != 'iniciativa'") {{itemDash.item.siglaMi}}
						a.mr.label.label-produto_intermediario(ng-click="itemSelecionadoDash(itemDash.item.codPi, 'PRODUTO_INTERMEDIARIO')", ng-if="itemDash.item.estruturaSuperior == 'produto_intermediario'") PI {{itemDash.item.siglaPi}}
					.col-md-4
						strong Responsável:
						|&nbsp;{{itemDash.item.responsavel}} - {{itemDash.item.orgaoResp}}
					.col-md-3
						strong Situação: 
						|&nbsp; {{itemDash.item.situacao.descricao}}
					.col-md-2
						strong Ciclo:
						small {{itemDash.item.mes}}/{{itemDash.item.ano}}
					.col-md-1.pull-right(ng-class="'img-status-'+itemDash.item.cor.nome+'-dash'")
				.row
					.col-md-2
					.col-md-2
						strong PPA: 
						small {{itemDash.item.ppa}}
					.col-md-2
						strong PNS: 
						small {{itemDash.item.oePns}}
		
		accordion(is-open='false')
			accordion-group(is-open='false')
				accordion-heading Título
				p.row
					.col-md-12
						button.btn.btn-block.btn-info.mb(type='submit', ng-if="edita == false", ng-click="botaoEditar()") Editar
					.col-md-6
						button.btn.btn-block.btn-info.mb(type='submit', ng-if="edita", ng-click="botaoSalvar()") Salvar
					.col-md-6
						button.btn.btn-block.btn-info.mb(type='submit', ng-if="edita", ng-click="botaoEditar()") Cancelar
				p.row
					.col-md-12
						strong Descrição do produto:
						small(ng-if="edita == false") {{itemDash.item.descProduto}}
				p.row
					.col-md-6
						input.form-control(type='text' placeholder='teste' ng-if="edita", ng-model="obj.descProduto")
				p.row
					.col-md-12
						strong Descrição especifica:
						small(ng-if="edita == false") {{itemDash.item.descEspecificacaoProduto}}
				p.row
					.col-md-6
						input.form-control(type='text', placeholder='teste', ng-if="edita", ng-model="obj.descEspecificacaoProduto")
				p.row
					.col-md-6
						strong Linha base:
						small(ng-if="edita == false") {{itemDash.item.linhaBase}}
				p.row
					.col-md-4
						input.form-control(type="number", placeholder="teste", ng-if="edita", ng-model="obj.linhaBase")
				p.row
					.col-md-6
						strong Ano linha base:
						small(ng-if="edita == false") {{itemDash.item.anoLinhaBase}}
				p.row
					.col-md-4
						input.form-control(type="number", placeholder="teste", ng-if="edita", ng-model="obj.anoLinhaBase")
				p.row
					.col-md-6
						strong Data de apuração:
						small(ng-if="edita == false") {{itemDash.item.dataApuracao}}
				p.row
					.col-md-4
						input.form-control(type="date", placeholder="teste", ng-if="edita", ng-model="obj.dataApuracao")
				p.row
					.col-md-12
						strong Método de apuração:
						small(ng-if="edita == false") {{itemDash.item.metodoApuracao}}
				p.row
					.col-md-6
						input.form-control(type='text', placeholder='teste', ng-if="edita", ng-model="obj.metodoApuracao")
				p.row
					.col-md-3
						strong Polaridade:
						small(ng-if="edita == false") {{itemDash.item.polaridadeIndicador}}
				p.row
					.col-md-4
						select.form-control(ng-if="edita", name="optPolaridade", ng-model="obj.polaridadeIndicador")
							option(value="") ---selecione a polaridade---
							option(value="MAIOR_MELHOR", ng-selected="obj.polaridadeIndicador == MAIOR_MELHOR") Maior
							option(value="MENOR_MELHOR", ng-selected="obj.polaridadeIndicador == MENOR_MELHOR") Menor
							option(value="MANTER", ng-selected="obj.polaridadeIndicador == MANTER") Manter
				p.row
					.col-md-3
						strong Periodicidade:
						small(ng-if="edita == false") {{itemDash.item.periodicidade}}
				p.row
					.col-md-4
						select.form-control(ng-if="edita", name="optPeriodicidade", ng-model="obj.periodicidade")
							option(value="") ---selecione a periodicidade---
							option(value="MENSAL", ng-selected="obj.periodicidade == MENSAL") Mensal
							option(value="BIMENSAL", ng-selected="obj.periodicidade == BIMENSAL") Bimensal
							option(value="TRIMENSAL", ng-selected="obj.periodicidade == TRIMENSAL") Trimensal
							option(value="QUADRIMENSAL", ng-selected="obj.periodicidade == QUADRIMENSAL") Quadrimensal
							option(value="SEMESTRAL", ng-selected="obj.periodicidade == SEMESTRAL") Semestral
							option(value="ANUAL", ng-selected="obj.periodicidade == ANUAL") Anual

		accordion(close-others='false')
			accordion-group(is-open='true')
				accordion-heading 
					span(ng-class="'text-'+itemDash.item.nivel", ng-if="itemDash.item.nivel == 'meta'") Meta
					span(ng-class="'text-'+itemDash.item.nivel", ng-if="itemDash.item.nivel == 'iniciativa'") Iniciativa
					span(ng-class="'text-'+itemDash.item.nivel", ng-if="itemDash.item.nivel == 'produto_intermediario'") Produto Intermediário
					span(ng-class="'text-'+itemDash.item.nivel", ng-if="itemDash.item.nivel == 'atividade'") Atividade
					span(ng-if="itemDash.item.nivel == 'meta' || itemDash.item.nivel == 'iniciativa'") {{itemDash.item.siglaMi}} - {{itemDash.item.desc}}
					span(ng-if="itemDash.item.nivel == 'produto_intermediario'") {{itemDash.item.siglaPi}} - {{itemDash.item.desc}}
					span(ng-if="itemDash.item.nivel == 'atividade'") {{itemDash.item.siglaAtv}} - {{itemDash.item.desc}}
				div(ng-if="!itemDash.item.parecerAutorizado")
					scrollable.pt(height=350, ng-bind-html="itemDash.item.parecer")
				div(ng-if="itemDash.item.parecerAutorizado")
					tabset
						tab(heading='Último parecer')
							scrollable.pt(height=350, ng-bind-html="itemDash.item.parecer")
						tab
							tab-heading
								|Inserir/Editar parecer para o ciclo {{itemDash.item.mesCicloParecer}}/{{itemDash.item.anoCicloParecer}}
								|&nbsp;&nbsp;
								i.fa.fa-edit.text-warning
							pems-parecer(item="itemDash.item")
				hr
				strong Anexos:
				scrollable.pt(height=50)
					div(ng-repeat="anexo in anexos")
						a.mr(href="", ng-click="downloadAnexo(anexo)") {{anexo.nomeOriginal}}
							|&nbsp;
						a(href="")
							i.fa.fa-trash.text-danger(ng-if="anexo.permissaoExclusao", ng-click="excluirAnexoServer(anexo)")
						
			accordion-group(is-open='false')
				accordion-heading Indicadores
				p
					pems-indicadores(indicadores="itemDash.item.indicadores")
			accordion-group(is-open='false', ng-if="itemDash.item.nivel != 'atividade'")
				accordion-heading(ng-if="itemDash.item.nivel == 'meta' || itemDash.item.nivel == 'iniciativa'") Produtos intermediários
				accordion-heading(ng-if="itemDash.item.nivel == 'produto_intermediario'") Atividades
				p(ng-if="itemDash.item.nivel == 'meta' || itemDash.item.nivel == 'iniciativa'")
					scrollable.pt(height=350)
						pems-lista-itens(nivel='PRODUTO_INTERMEDIARIO')
				p(ng-if="itemDash.item.nivel == 'produto_intermediario'")
					scrollable.pt(height=350)
						pems-lista-itens(nivel='ATIVIDADE')
