.row
	.col-lg-4.fw-boxed
		.panel.panel-default
			.panel-body
				.row
					h4.ml Perspectiva
					.col-md-12
						.radio-inline.c-radio
							label
								input(type='radio', name="rdPerspectiva", value='ppa', ng-model="persp")
								span.fa.fa-circle
								| PPA
						.radio-inline.c-radio
							label
								input(type='radio', name="rdPerspectiva", value='pns', ng-model="persp")
								span.fa.fa-circle
								| PNS
				.row
					h4.ml Filtros
				.row
					pems-oes(mod="side", perspectiva="persp")
				.row.row-table
					.col-sm-12.col-xs-12
						h5 Etiquetas
						pems-etiquetas
				.row.row-table
					.col-sm-12.col-xs-12
						.h4 Secretarias e V&iacute;nculadas
						pems-secretarias
				.row.row-table
					.col-sm-12.col-xs-12
						h5 Status
						pems-status-filter
				.row.row-table
					.col-sm-12.col-xs-12
						.checkbox.c-checkbox
							label
								input(type='checkbox', ng-model="filtro.ppa")
								span.fa.fa-check
								| Apenas PPA
						.checkbox.c-checkbox
							label
								input(type='checkbox', ng-model="filtro.meta")
								span.fa.fa-check
								| Apenas Metas
						.checkbox.c-checkbox
							label
								input(type='checkbox', ng-model="filtro.iniciativa")
								span.fa.fa-check
								| Apenas Iniciativas
						.checkbox.c-checkbox
							label
								input(type='checkbox', ng-model="filtro.minhaVisao")
								span.fa.fa-check
								| Minha Visão
				.row.row-table
					.col-sm-6.col-xs-12
						button.mr.btn.btn-primary.btn-fw.mt-xl(ng-click="pesquisar()") Pesquisar
					.col-sm-6.col-xs-6
						a.pull-right.mt-xl.em.fa.fa-print.fa-2x(href="", ng-click="gerarRelatorioGerencial()")
	.col-lg-8.fw-boxed
		pems-lista-itens(nivel='META')