.panel.panel-default
  .panel-heading
    | {{listaItens.length}}
    span(ng-if="listaItens.length == 0") Nenhum item foi encontrado para os parâmetros de busca
    span(ng-if="listaItens.length == 1") item encontrado
    span(ng-if="listaItens.length > 1") itens encontrados
  // START table-responsive
  .table-responsive
    table.table.table-hover
      tbody
        tr.animated.fadeInUp(ng-repeat="item in listaItens")
          td
            .media
              a.pull-left(href='', ng-click="itemSelecionado(item.id)")
                .media-object.img-responsive(ng-class="'img-status-'+item.nomeCor")
                .small.text-muted {{item.mes}}/{{item.ano}}
              .media-body
                h5.media-heading 
                  a(href="", ng-click="itemSelecionado(item.id)").text-inverse 
                    .span(ng-if="item.siglaMi !== undefined && (item.nivel == 'meta' || item.nivel == 'iniciativa')") {{item.siglaMi}} 
                      |- {{item.desc}}
                    .span(ng-if="item.siglaPi !== undefined && item.nivel == 'produto_intermediario'") {{item.siglaPi}} 
                      |- {{item.desc}}
                    .span(ng-if="item.siglaAtv !== undefined && item.nivel == 'atividade'") {{item.siglaAtv}} 
                      |- {{item.desc}}
                .pull-right.text-muted 
                  strong Situação:
                  |&nbsp; {{item.situacao}}
                p.text-muted 
                  strong Responsável pelo parecer: 
                  |&nbsp;{{item.responsavel}}
                p.text-muted
                  strong Órgão Responsável:
                  |&nbsp; {{item.orgaoResp}}

                .mr.label(ng-class="'label-'+item.oeShortName") {{item.oe}}
                .mr.label(ng-if="item.nivel == 'produto_intermediario' && item.estruturaSuperior == 'meta'", ng-class="'label-'+item.estruturaSuperior") M {{item.siglaMi}}
                .mr.label(ng-if="item.nivel == 'produto_intermediario' && item.estruturaSuperior == 'iniciativa'", ng-class="'label-'+item.estruturaSuperior") I {{item.siglaMi}}
                .mr.label(ng-class="'label-'+item.nivel") {{item.nivel}}