.panel.panel-default
  .panel-heading
    | {{listaItens.length}}
    span(ng-if="listaItens.length == 0") Nenhum item foi encontrado para os parâmetros de busca
    span(ng-if="listaItens.length == 1") item encontrado
    span(ng-if="listaItens.length > 1") itens encontrados
  // START table-responsive
  .table-responsive
    table.table.table-hover
      tbody
        tr.animated.fadeInUp(ng-repeat="item in listaItens")
          td
            .media
              a.pull-left(href='', ng-click="itemSelecionado(item.id)")
                .media-object.img-responsive(ng-class="'img-status-'+item.nomeCor")
                .small.text-muted {{item.mes}}/{{item.ano}}
              .media-body
                h5.media-heading 
                  a(href="", ng-click="itemSelecionado(item.id)").text-inverse {{item.sigla}} - {{item.desc}}
                .pull-right.text-muted 
                  strong Situação:
                  |&nbsp; {{item.situacao}}
                p.text-muted 
                  strong Responsável pelo parecer: 
                  |&nbsp;{{item.responsavel}}
                p.text-muted
                  strong Órgão Responsável:
                  |&nbsp; {{item.orgaoResp}}

                .mr.label(ng-class="'label-'+item.oeShortName") {{item.oe}}
                .mr.label(ng-class="'label-'+item.nivel") {{item.nivel}}