.panel.panel-default
  .panel-heading
    | {{listaItens.length}}
    span(ng-if="listaItens.length == 0") Nenhum item foi encontrado para os parâmetros de busca
    span(ng-if="listaItens.length == 1") item encontrado
    span(ng-if="listaItens.length > 1") itens encontrados
  // START table-responsive
  .table-responsive
    table.table.table-hover
      tbody
        tr.animated.fadeInUp(ng-repeat="item in listaItens")
          td
            .media
              a.pull-left(href='', ng-click="itemSelecionado(item.id)")
                .media-object.img-responsive(ng-class="'img-status-parecer-'+item.cor.nome")
                .small.text-muted {{item.mes}}/{{item.ano}}
              .media-body
                h5.media-heading 
                  a(href="", ng-click="itemSelecionado(item.id)").text-inverse 
                    .span(ng-if="item.siglaMi !== undefined && (item.nivel == 'meta' || item.nivel == 'iniciativa')") {{item.siglaMi}} 
                      |- {{item.desc}}
                    .span(ng-if="item.siglaPi !== undefined && item.nivel == 'produto_intermediario'") {{item.siglaPi}} 
                      |- {{item.desc}}
                    .span(ng-if="item.siglaAtv !== undefined && item.nivel == 'atividade'") {{item.siglaAtv}} 
                      |- {{item.desc}}
                .row
                  .col-md-3.pull-right
                    .text-muted
                      strong Situação:
                      |&nbsp; {{item.situacao.descricao}}
                  .col-md-3
                    .text-muted
                      strong PPA:
                      |&nbsp; {{item.ppa}}
                  .col-md-3
                    .text-muted
                      strong PNS:
                      |&nbsp; {{item.oePns}}
                .row.mt.mb
                  .col-md-4.pull-right
                    .text-muted
                      strong Órgão Responsável:
                      |&nbsp; {{item.orgaoResp}}
                  .col-md-8
                    .text-muted 
                      strong Responsável pelo parecer: 
                      |&nbsp;{{item.responsavel}}

                .mr.label(ng-class="'label-'+item.oeShortName") {{item.oe}}
                .mr.label.label-meta(ng-if="item.estruturaProduto == 'meta' && item.nivel != 'meta'") {{item.siglaMi}}
                .mr.label.label-iniciativa(ng-if="item.estruturaProduto == 'iniciativa' && item.nivel != 'iniciativa'") {{item.siglaMi}}
                .mr.label.label-produto_intermediario(ng-if="item.estruturaSuperior == 'produto_intermediario'") PI {{item.siglaPi}}
                .mr.label(ng-class="'label-'+item.nivel", ng-if="item.nivel == 'meta' || item.nivel == 'iniciativa'") {{item.nivel}}