.col-lg-2.col-sm-1.col-xs-2.animated.fadeInUp(ng-repeat="oe in oes", ng-if="mod == 'main'")
	.mb.clickable(ng-if="!oe.sel", ng-click="oeClick(oe)", ng-class="'oe-'+oe.ord", tooltip="{{oe.desc}}") 
		strong {{oe.sigla}} 
	.mb.clickable(ng-if="oe.sel", ng-click="oeClick(oe)", ng-class="'oe-'+oe.ord+'-sel'", tooltip="{{oe.desc}}") 
		strong {{oe.sigla}} 
.col-lg-3.col-sm-1.col-xs-2(ng-repeat="oe in oes", ng-if="mod == 'side'")
	.clickable(ng-class="'side-oe' + oe.ord", ng-if="!oe.sel", ng-click="oeClick(oe)", tooltip="{{oe.desc}}") {{oe.sigla}}
	.clickable(ng-class="'side-sel-oe' + oe.ord", ng-if="oe.sel", ng-click="oeClick(oe)", tooltip="{{oe.desc}}") {{oe.sigla}}