scrollable(height=180)
	.checkbox.c-checkbox(ng-repeat="sec in secretarias")
		label
			input(type='checkbox', ng-checked="secSelec.indexOf(sec.id) > -1", ng-click="toggleSelection(sec)")
			span.fa.fa-check 
			| {{sec.nome}}