.row
    .col-xs-6
        .row
            .col-xs-12.text-center
                a.em.fa.fa-circle-o.fa-2x(ng-click="gerarRelatorioExecutivo()")
        .row
            .col-xs-12.text-center
                |Ciclo Atual
    .col-xs-6
        .row
            .col-xs-12.text-center
                a.em.fa.fa-bullseye.fa-2x(ng-click="gerarRelatorioExecutivoPareceresAnteriores()")
        .row
            .col-xs-12.text-center
                |Todos