.row
    .col-xs-6
        .row
            .col-xs-12.text-center
                a.em.fa.fa-bars.fa-2x(ng-click="gerarRelatorioGerencial()")
        .row
            .col-xs-12.text-center
                |Listagem
    .col-xs-6
        .row
            .col-xs-12.text-center
                a.em.fa.fa-comments.fa-2x(ng-click="gerarRelatorioExecutivoPareceres()")
        .row
            .col-xs-12.text-center
                |Pareceres