.row
	.col-lg-2
		.img-status-verde.clickable(ng-click="selStatus('verde')")
	.col-lg-2.clickable
		.img-status-amarelo.clickable(ng-click="selStatus('amarelo')")
	.col-lg-2.clickable
		.img-status-vermelho.clickable(ng-click="selStatus('vermelho')")
	.col-lg-2.clickable
		.img-status-azul.clickable(ng-click="selStatus('azul')")
	.col-lg-2.clickable
		.img-status-cinza.clickable(ng-click="selStatus('cinza')")