// START Top Navbar
nav.navbar.topnavbar(role='navigation', ng-controller="HeaderNavController as header")
  
  // START button offset
  .btn-offset
    img(src="app/img/gov_brasil_180x61.png")
  // START button offset

  // START navbar header
  .navbar-header
    a.navbar-brand(ui-sref='app.dashboard') 
      img.brand-logo(src="app/img/logo_small.gif", alt="App Logo")
      | &nbsp; PLANEJAMENTO ESTRATÉGICO DO MINISTÉRIO DA SAÚDE

    // Mobile buttons
    .mobile-toggles
      // Button to show/hide the sidebar on mobile. Visible on mobile only.
      a(href='', ng-click="app.sidebar.isOffscreen = !app.sidebar.isOffscreen").sidebar-toggle
        em.fa.fa-navicon
      // Button to show/hide the header menu on mobile. Visible on mobile only.
      a(href='', ng-click="header.toggleHeaderMenu()").menu-toggle.hidden-material
        em.fa.fa-ellipsis-v.fa-fw
  // END navbar header
// END Top Navbar